<div class="fixed top-0 z-50 right-0 left-0 bg-[#69f0ae] text-gray-800 flex ">

    <div class="h-16 flex items-center justify-between">

        <div>
            <img class="w-8" src="../../assets/Logo.jpg" alt="Argus-e-Shop">
        </div>


        <div class="">
            <div class="flex space-x-4">
                <a routerLink="/" class="text-gray-800">
                    Shop with Argusoft
                </a>
                <div>
                    <button class="" (click)="openNavbarContent('men')" mat-button>Men</button>
                </div>
                <div>
                    <button class="" (click)="openNavbarContent('women')" mat-button>Women</button>
                </div>

            </div>

        </div>

        
    </div>
</div>